<div class="subcategories">

    <h2><?php echo $this->getCurrentCategory()->getName(); ?></h2>

    <?php
    $_subCategories = $this->getSubCategories();

    foreach ($_subCategories as $_category):

        $_url = $_category->url;
        $_name = $_category->name;
        $_imageUrl = $_category->image_url;

        $_baseUrl = $this->getBaseUrl();
        $_imagePath = str_replace($_baseUrl, "", $_imageUrl);
        $_imageLocation = $_SERVER['DOCUMENT_ROOT'] . "/" . $_imagePath;

        ?>

        <div class="subcat">
            <div class="subcat__image">
                <a href="<?php echo $_url; ?>"><img src="<?php echo $_imageUrl; ?>"/></a>
            </div>
            <div class="subcat__title">
                <h4><a href="<?php echo $_url; ?>"><?php echo $_name; ?></a></h4>
            </div>
        </div>

        <?php
    endforeach; ?>

</div>
