.subcategories {
	float : left; width : 100%;
}

.subcat {
	float         : left;
	width         : 23%;
	margin-right  : 2%;
	margin-bottom : 15px;
}

.subcat:nth-child(4n) {
	margin-right : 0;
}

.subcat__image img {
	width   : 100%;
	height  : auto;
	display : block;
}

.subcat__title h1,
.subcat__title h2,
.subcat__title h3,
.subcat__title h4 {
	text-align  : center;
	margin-top  : 10px;
	font-weight : normal;
}
